@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
}
* {
    box-sizing: border-box;
}
body h1 {
    font-size: 16px;
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    letter-spacing: 1px;
}
/* MOBILE FIRST */
header {
    text-align: center;
}
.logo-arrow-left {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.arrow-left {
    color: black;
    font-size: 20px;
    margin: 10px;
}
.logo img {
    width: 70%;
}
/* Restaurant image */
.image-restaurant img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Debut main */
main {
    position: relative;
    margin-top: -20%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #f8f9f9;
}
.restaurant {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.restaurant h1 {
    font-size: 30px;
    font-style: normal;
    font-family: 'Shrikhand', cursive;
    font-weight: 900 !important;
    margin-left: 20px;
}
.restaurants__figcaption__like {
    position: relative;
    width: 1rem;
    margin: 20px 40px 0 0;
    cursor: pointer;
  }  
  .restaurants__figcaption__like__emptyheart {
    width: 2rem;
    position: absolute;
  } 
  .restaurants__figcaption__like__fullheart {
    width: 2rem;
    position: absolute;
    opacity: 0;
  }
  .restaurants__figcaption__like__fullheart:hover {
    opacity: 1;
    transition: 400ms ease-in-out;
  }
/* Section (entrée + plats + Desserts)  */
.menu {
    margin: auto 20px;
}
.menu-paragraphe {
    font-size: 16px;
    text-decoration: underline solid #99E2D0;
    text-underline-offset: 0.5rem;
    margin: 10% auto 5% 5%;
}
.carte {
    font-size: 16px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px / 25px;
    cursor: pointer;
    overflow-x: hidden;
    animation-name: move-carte;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.carte2 {
    animation-delay: 0.5s;
}
.carte3 {
    animation-delay: 1s;
}
.carte4 {
    animation-delay: 1.5s;
}
@keyframes move-carte {
    from{
        opacity:0;
        transform:translate3d(0, 30px, 0);     
    }
    to{     
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.carte-informations {
    display: flex;
    flex-direction: column;
    padding: 5px;    
}
.titre {
    margin-bottom: -10px;
    transition: width ease 0.5s;
}
.carte-informations:hover .titre{
    width: calc(100% - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: width ease 1s;   
}
.text {
    text-align: left;
    width: auto;
    transition: width ease 0.8s;
}
.carte-informations:hover .text{
    width: calc(100% - 135px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: width ease 0.5s;   
}
.prix {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    margin-top: -35px;
    transition: width  0.5s; 
}
.carte-informations:hover .prix{
    width: calc(100% - 90px);
    transition: width ease 0.5s;   
}
.carte-informations div {
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    background: #99E2D0;
    width:0;
    border-radius: 0 25px 25px 0;
    transition: width ease 0.5s;
    overflow: hidden;
}
.carte-informations:hover div{
    width: 75px;
}
.carte-informations div span{
    width: 32px;
    height: 32px;
    background:#ffffff;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    transition: transform ease 0.5s;
    display: block;
 
}
.carte-informations:hover div span{
    transform:rotate(360deg);
}
.carte-informations div span svg {
    width: 28px;
    height: 28px;
    padding-left: 4px;
    padding-top: 4px;
    display: inline-block;
}
.carte-informations:hover div span {
    transform: rotate(360deg);
    transition: transform ease 0.5s;
} 
a:any-link {
    text-decoration: none;
    color: black;
}
/* Button */
.div-btn {  
    text-align: center;
}
.btn {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    margin: 50px 20px 100px 20px;
    border: #9356dc;
    border-radius: 50px / 50px;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}
.btn:hover {
    filter: brightness(1.25);
}
/* Fin Section entrée */
/* Fin main */
/* FOOTER */
footer {
    color: white;
    background-color: #4a4a4a;
}
.footer-container {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
.footer-container img {
    width: 30%;
    margin-bottom: 10px;
    filter: brightness(0) invert(1);
}
#proposition-icon {
    margin-right: 15px;
    margin-left: 0px;
    position: relative;
}
#partenaire-icon {
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
}
#contact {
    color: white;
}
/* FIN FOOTER */
/* Version tablette */
@media only screen and (min-width: 768px) {
    main {
        margin: -50px 50px 0 50px;
    }
    .carte {
        margin: 20px 50px;
    }
    .footer-container {
        align-items: center;
        align-content: center;
    }
}
/* Version disktop */
@media only screen and (min-width: 1025px) {
    .arrow-left {
        width: auto;
        height: auto;
        display: none;
    }
    .image-restaurant img {
        height: 500px;
        object-fit: cover;
    }
    main {
        margin: -50px 50px 0 50px;
    }
    .plats {
        display: flex;
        justify-content: center;
    }
    .menu {
        width: 100%;
        margin: 0px;
    }
    .carte {
        margin: 20px 10px;
    }
    .footer-container {
        align-items: center;
        align-content: center;
    } 
}